#openMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: calc(100% - 150px);
    margin-right: 10px;
    height: 30px;
    width: 120px;
    border-radius: 3px;
}
#openMenu:hover{
    background-color: rgb(0,0,0,0.1)
}
.openMenu{
    margin-left: 5px;
}
.menu {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    height: calc(100% - 40px);
    background-color: rgb(231, 231, 231);
    color: black;
}
#closeMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 120px;
    color: rgb(0,0,0,0.5);
    height: 20px;
    width: 20px;
}
.closeMenu:hover {
    color: rgb(0,0,0,0.8);
}
.menuTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid rgb(0,0,0, 0.3);
    margin-left: 14px;
    margin-right: 14px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.menuButton {
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorSel {
    opacity: 0.5;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}
.colorSel:hover {
    opacity: 0.8;
}
.rainbow {
    background-color: none;
    background: linear-gradient(#ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #ff2400, #e81d1d);
    background-size: 1800% 1800%;
    animation: rainbow 5s;
    animation-iteration-count: infinite;
}
@keyframes rainbow { 
    0%{background-position:0% 100%}
    100%{background-position:100% 0%}
}